.prejoin-form {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0 0;
  gap: 52px;
  width: 360px;
  height: 603px;
}
.prejoin-form label {
  color: var(--primary--dark);
  font-size: 1.25rem;
  line-height: 25px;
}
.prejoin-form input {
  border-bottom: 3px solid var(--primary);
  width: 360px;
}
.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-height: 120px;
}
.prejoin-form .error {
  color: var(--error);
  font-size: 0.75rem;
}
.is-spectator-switch {
  display: flex;
  align-items: center;
  gap: 37px;
}
.is-spectator {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.is-spectator label:first-child {
  width: 270px;
}
#change-later {
  font-size: 1rem;
  line-height: 20px;
}
