@font-face {
  font-family: Sora;
  src: url(~/assets/Sora-VariableFont.ttf);
}
@font-face {
  font-family: IBM Plex Mono;
  src: url(~/assets/IBMPlexMono-Regular.ttf);
}

h1,
h2,
h3,
h4,
body {
  font-size: 16px;
  font-family: Sora, sans-serif;
}

h1 {
  font-size: 4.5rem;
  font-weight: 400;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

span.primary {
  color: var(--primary);
}

.text-center {
  text-align: center;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
}