<!DOCTYPE html>
<html>

{{template "head"}}

<body id="root" hx-ext="ws">
  <script>
    const body = document.querySelector('body');
    const queryParams = new URLSearchParams(window.location.search);
    const role = queryParams.get('role');
    const username = queryParams.get('username');
    const splitPath = window.location.pathname.split('/');
    const roomId = splitPath[splitPath.length - 1];
    body.setAttribute('ws-connect', `/joinRoom/${roomId}/${username}/${role}`)
  </script>
  {{template "header"}}
  <div class="room" data-testid="room">
    <div class="room-header">
      <h2>Everyone's Ready</h2>
      <div id="progress-bar">
        <div id="bar"></div>
      </div>
    </div>
    {{template "subheader" .Subheader}}
    <div class="voting-area-wrapper">
      <div class="voting-area">
        {{template "board" .BoardCards}}
        {{template "votingCardList"}}
      </div>
      {{template "spectatorList" .Spectators}}
    </div>
  </div>
</body>

</html>