:root {
  --max--width: 1440px;
}

#root {
  padding: 24px 46px;
}

@media screen and (min-width: 1439px) {
  #root {
    padding: 24px 138px;
  }
}

.row {
  display: flex;
}

.col {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.cursor-pointer {
  cursor: pointer;
}

.hidden {
  display: none;
}

.info {
  font-size: 16px;
  margin-left: 1rem;
  border: 3px solid var(--error);
  padding: 3px 8px;
  border-radius: 50%;
}

.warn-popup {
  background: #b4686861;
  padding: 4px 5px;
  position: relative;
  top: 23px;
  left: 30px;
  width: 400px;
  padding: 1rem 2rem;
  border-radius: 20px;
  opacity: 0.7;
  animation: fade 500ms linear;
  z-index: 10;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.7;
  }
}