<!-- generate a simple go html page -->
<!DOCTYPE html>
<html>

{{template "head"}}

<body id="root">
  {{template "header"}}
  <div class="col home">
    <div class="row align-center title">
      <img src="/assets/icon-lg.svg" width="105" height="98" alt="" srcset="" />
      <h1 data-testid="title">Poker Planning</h1>
    </div>
    <div class="welcome-box col">
      <div class="subtitle">
        <img src="/assets/check.svg" alt="check" srcset="" />
        user-friendly
        <a href="https://github.com/moby-it/planning-poker" target="_blank">
          <img src="/assets/github.svg" alt="github" srcset="" />
          <u>open-sourced</u>
        </a>
        <span>
          <img src="/assets/check-primary.svg" alt="check" srcset="" />
          free forever
        </span>
      </div>
      <span>
        We got tired of searching for free solution for doing <strong>Scrum Poker Planning</strong>, so we
        decided to solve the issue ourselves and open-source it.
      </span>

      <div style="align-self:center;" data-testid="start-here">
        <a href="/prejoin?create=1">
          <button class="btn primary">
            <span>Start Here</span>
          </button>
        </a>
      </div>
    </div>
    <img class="home-illustration" src="/assets/home-illustration.png" alt="planning illustration" />
  </div>
</body>

</html>