<!DOCTYPE html>
<html>

{{template "head"}}

<body id="root">
  {{template "header"}}
  <div class="room" data-testid="room">
    <RoomHeader />
    <RoomSubheader />
    <div class="voting-area-wrapper">
      <div class="voting-area">
        <Board users={voters} />
        <Show when={!isSpectator()}>
          <SubmitBtn socket={socket()} />
        </Show>
        <VotingCardList />
      </div>
      <SpectatorList />
    </div>
  </div>
  <script defer src="/js/room.js"></script>
</body>

</html>