{{define "votingCardList"}}
<div class="voting-card-list" data-testid="voting-card-list">
  <div class="voting-card" data-testid="voting-card-0"><span>0</span></div>
  <div class="voting-card" data-testid="voting-card-1"><span>1</span></div>
  <div class="voting-card" data-testid="voting-card-2"><span>2</span></div>
  <div class="voting-card" data-testid="voting-card-3"><span>3</span></div>
  <div class="voting-card" data-testid="voting-card-5"><span>5</span></div>
  <div class="voting-card" data-testid="voting-card-8"><span>8</span></div>
  <div class="voting-card" data-testid="voting-card-13"><span>13</span></div>
  <div class="voting-card" data-testid="voting-card-21"><span>21</span></div>
  <div class="voting-card" data-testid="voting-card-34"><span>34</span></div>
  <div class="voting-card" data-testid="voting-card-55"><span>55</span></div>
  <div class="voting-card" data-testid="voting-card-89"><span>89</span></div>
  <div class="voting-card" data-testid="voting-card-100"><span>?</span></div>
  <div class="voting-card" data-testid="voting-card-1000"><img src="/assets/cup-small-black.svg"></div>
</div>
{{end}}
