#progress-bar {
  width: 480px;
  background-color: var(--primary--hover);
  border-radius: 8px;
  align-self: center;
}

#bar {
  width: 1%;
  height: 8px;
  border-radius: 8px;
  background-color: var(--primary);
}
