<!-- generate a simple go html page -->
<!DOCTYPE html>
<html>

{{template "head"}}

<body id="root">
  {{template "header"}}
  <form class="prejoin-form">
    <h2>{{.Title}}</h2>
    <div class="input-wrapper">
      <label for="username">Username</label>
      <input data-testid="username-input" type="text" name="username" />
    </div>
    <div class="is-spectator">
      <div class="is-spectator-switch">
        <div class="toggle-container" >
          <label for="isSpectator">Join as Spectator</label>
          <label class="switch" data-testid="spectator-toggle">
            <input name="isSpectator" type="checkbox" />
            <span class="slider round"></span>
          </label>
        </div>
      </div>
      <span id="change-later">You can change this later</span>
    </div>
    <button type="button" class="btn primary" id="submit" data-testid="create-room">
      <span>{{.Text}}</span>
    </button>
    <script defer type="module" src="/static/js/prejoin.js"></script>
  </form>
</body>

</html>