{{define "votingCardList"}}
<div class="voting-card-list" data-testid="voting-card-list" hx-swap-oob="outerHTML:.voting-card-list">
  {{range .}}
  <div class="{{.Classes}}" data-testid="voting-card-{{.Points}}" value="{{.Points}}">
    {{if eq .Points 1000}}
    <img src="/static/assets/cup-small-black.svg" />
    {{else if eq 100 .Points}}
    <span>?</span>
    {{else}}
    <span>{{.Points}}</span>
    {{end}}
  </div>
  {{end}}
  <script defer type="module" src="/static/js/vote.js"></script>
</div>
{{end}}