h1,
h2,
h3,
h4,
body {
  font-family: "Sora", sans-serif;
}
h1 {
  font-size: 72px;
  font-weight: 400;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
span.primary {
  color: var(--primary);
}
